MLFLOW_TRACKING_URI=http://localhost:5001/mlflow
MLFLOW_ARTIFACT_ROOT=s3://fitset-models/mlflow
MLFLOW_PROXY_TARGET=http://localhost:5001
MLFLOW_UI_USER=
MLFLOW_UI_PASSWORD=
RAW_DATA_BUCKET=fitset-dataset
MODELS_BUCKET=fitset-models
AWS_REGION=ap-northeast-2
